:root{
    --color-red:#be3144;
    --color-white:rgb(252, 252, 252);
    --color-blue:rgb(157, 157, 248);
}
html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 62.5%;
}

*, ::before, ::after{
    box-sizing: inherit;
}
*{
    margin: 0;
    padding: 0;
}
/* Inicio de las consultas de medios para establecer diferentes breackpoints en pantalla  */

/* 1200/16 = 75  */
@media (max-width:75em){
    html{
        font-size: 60%;
    }
}

@media (max-width: 61.25em) {
    html{
        font-size: 58%;
    }
}
@media (max-width:28.75em) {
    html{
        font-size: 55%;
    }
}

/* base styles for doc  */
body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem ;  /*.625 * 16 = 10px, entonces 18px /10px es igual a 1.8rem */
    font-weight: 400;
    line-height: 1.1;
    color: var(--color-white);
}

h1, h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
}
h1{
font-size: 6rem;
}
h2{
font-size: 4.2rem;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--color-white);
}
img{
    display: block;
    width: 100%;
}

.top-navbar{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--color-red);
    z-index: 10;
}
.nav-list{
    display: flex;
    margin-right: 2rem;
}

@media (max-width:28.75rem){
    .nav{
        justify-content: center;
    }
    .nav-list{
        margin: 0 1rem;
    }
}

.nav-list a{
    display: flex;
    font-size: 2.2rem;
    padding: 2rem;
}

.nav-list a:hover{
    background: var(--color-blue);
    cursor: pointer;
}

.welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(7, 65, 112);
    background-image: linear-gradient(62deg,  #9642f5 0%, #3c024d 100%);
}
.welcome-section >p{
    font-size: 3rem;
    font-weight: 300;
    font-style: italic;
    color: var(--color-blue);
}

.projects-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
}
.project-title{
    background-color: purple;
}

footer{
    display: flex;
}